<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.name %></h1>
    <p>
      Informamos que a capacidade do dispositivo <%= @device.id %> chegou a <%= @percentage %>%.
    </p>
    <p>
      <%= @text %>
    </p>
    <p>
      O dia do ultimo nivel critico foi <%= @last_cl.strftime("%d/%m/%Y - %H:%M") %>.
    </p>
  </body>
</html>
