<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Olá, <%= @user.name %>!</h3>
    <p>
      As condições normais foram reestabelecidas em <%= @created_at.in_time_zone(@user.time_zone).strftime("%d/%m/%Y - %H:%M") %>
    </p>
    <p><b>Reservatório: </b><%= @device.serial %></p>
    <p><b>Nível: </b><%= @percentage %>%</p>
    <p><b>Data do último evento crítico: </b><%= @last_cl.in_time_zone(@user.time_zone).strftime("%d/%m/%Y - %H:%M") %></p>
    <p><%= @text %></p>
  </body>
</html>
