<div class="form-group">
  <%= f.label :x, "Comprimento", class: "col-sm-4 control-label"%>
  <div class="col-sm-8">
    <%= f.text_field :x, class: "form-control dimension-x" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :y, "Altura", class: "col-sm-4 control-label"%>
  <div class="col-sm-8">
    <%= f.text_field :y, class: "form-control dimension-y" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :z, "Largura", class: "col-sm-4 control-label"%>
  <div class="col-sm-8">
    <%= f.text_field :z, class: "form-control dimension-z" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :volume, "Volume Total", class: "col-sm-4 control-label"%>
  <div class="col-sm-8">
    <%= f.text_field :volume, class: "form-control dimension-volume" %>
  </div>
</div>
