<div class="form-group">
  <%= f.label :x, "Comprimento", class: "col-sm-4 control-label"%>
  <div class="col-sm-8">
    <%= f.text_field :x, required: "required", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :y, "Altura", class: "col-sm-4 control-label"%>
  <div class="col-sm-8">
    <%= f.text_field :y, required: "required", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :z, "Largura", class: "col-sm-4 control-label"%>
  <div class="col-sm-8">
    <%= f.text_field :z, required: "required", class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :volume, "Volume Total", class: "col-sm-4 control-label"%>
  <div class="col-sm-8">
    <%= f.text_field :volume, required: "required", class: "form-control" %>
  </div>
</div>
