<%= form_for @device, url: {action: :edit_registration}, html: {class: 'form-horizontal'} do |f| %>
<div class="row">

  <h2>Editar</h2>
  <div class="bar"></div>

  <div class="col-sm-8 col-sm-offset-2">
    <div class="form-group">
      <%= f.label :serial, "Número de Série", class: "col-sm-4 control-label"%>
      <div class="col-sm-4">
        <%= @device.serial %>
        <%= f.hidden_field :serial, value: @device.serial %>
      </div>
    </div>

    <div class="form-dimension">
      <%= f.fields_for :dimension, @dimension do |d| %>
        <%= render 'dimension_fields', f: d %>
      <% end %>
    </div>

    <%= fields_for :user_device, @user_device do |d| %>
      <%= render 'user_devices_fields', f: d %>
    <% end %>

    <%= f.submit "Atualizar", class: "btn btn-theme" %>
  </div>
</div>
<% end %>
