<div class="row">
  <h1>Esqueceu a senha?</h1>
  <br>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(resource, as: resource_name, url: user_password_path, html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="form-group group">
          <%= f.label :email, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.email_field :email, class: "form-control", required: "required", autofocus: true  %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="actions">
          <%= f.submit "Enviar instruções para resetar senha", class: "btn btn-theme" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
