<%= form_for @setting, html: {class: "form-horizontal"} do |f| %>

  <div class="form-group">
    <button class="btn btn-theme" type="button" data-toggle="collapse" data-target="#level-setting" aria-expanded="false">
      Alertas de Nível
    </button>
  </div>

  <div class="collapse form-group" id="level-setting">
    <%= f.label :alert_level, "Nível Crítico (%)", class: "col-sm-offset-1 col-sm-4 control-label"%>
    <div class="col-sm-2">
      <%= f.text_field :alert_level, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-theme" type="button" data-toggle="collapse" data-target="#weather-settings" aria-expanded="false">
      Alertas Meteorológicos
    </button>
  </div>

  <div id="weather-settings" class="collapse">
    <%= render "weather_settings", f: f %>
  </div>

  <div class="form-group">
    <%= f.label :active, "Alertas", class: "col-sm-offset-1 col-sm-4 control-label" %>
    <div class="col-sm-2">
      <% if current_theme == "dark_theme/application" %>
        <%= f.check_box :active, data: {toggle: "toggle", on: "Ativados", off: "Desativados", onstyle: "toggle-active", offstyle: "toggle-deactive"} %>
      <% else %>
        <%= f.check_box :active, data: {toggle: "toggle", on: "Ativados", off: "Desativados", onstyle: "success"} %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :theme, "Tema", class: "col-sm-offset-1 col-sm-4 control-label"%>
    <div class="col-sm-2">
      <%= f.select :theme,  theme_array, {include_blank: "Selecione o Tema"}, {class: "form-control", required: "required"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit "Salvar", class: "btn btn-theme" %>
  </div>

<% end %>
