<div class="form-group">
  <%= f.label :temperature_alert, "Temperatura Crítica (ºC)", class: "col-sm-offset-1 col-sm-4 control-label"%>
  <div class="col-sm-2">
    <%= f.text_field :temperature_alert, required: "required", class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :humidity_alert, "Umidade Crítica (%)", class: "col-sm-offset-1 col-sm-4 control-label"%>
  <div class="col-sm-2">
    <%= f.text_field :humidity_alert, required: "required", class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :atm_pressure_alert, "Pressão Crítica (hPa)", class: "col-sm-offset-1 col-sm-4 control-label"%>
  <div class="col-sm-2">
    <%= f.text_field :atm_pressure_alert, required: "required", class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= f.label :luminosity_alert, "Luminosidade Crítica", class: "col-sm-offset-1 col-sm-4 control-label"%>
  <div class="col-sm-2">
    <%= f.text_field :luminosity_alert, required: "required", class: "form-control" %>
  </div>
</div>
