<div class="row">
  <div class="col-sm-12">

    <div class="row">
      <div class="col-sm-12">
          <div class="solutions-container">
              <div class="row">
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <div class="solution-img-container">
                        <%= image_tag "datacenter.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <h3>Data Centers</h3>
                  <div class="solution-description">
                    Auditorias, relatórios, eficiência energética, avaliação e execução de projetos de salas,
                    montagem de salas-cofre, monitoramento como serviço, manutenção de subsistemas e facilities.
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <div class="solution-img-container">
                        <%= image_tag "refrigeration.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3>Refrigeração</h3>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <div class="solution-img-container">
                        <%= image_tag "condominium.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3>Condomínios</h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <div class="solution-img-container">
                        <%= image_tag "projects.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3>Desenvolvimento</h3>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <div class="solution-img-container">
                        <%= image_tag "security.jpg", class: "solution-img" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3>Segurança</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>
