<div class="row">
  <h1>Log in</h1>
  <br>
</div>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), novalidate: "novalidate") do |f| %>
      <%= devise_error_messages! %>


      <div class="row">
        <div class="form-group group">
          <%= f.label :email, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.email_field :email, class: "form-control", required: "required", autofocus: true  %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group group">
          <%= f.label :password, class: "col-sm-3 control-label"%>
          <div class="col-sm-8">
            <%= f.password_field :password, class: "form-control", required: "required", autocomplete: "off" %>
          </div>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="row">
        <div class="actions">
          <%= f.submit "Entrar", class: "btn btn-theme" %>
        </div>
      </div>

    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
